body {
    font-family: "DM Serif Text", sans-serif;
    max-width: 1580px;
    margin: 0 auto;
}

.carrossel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.informacoes {
    display: none;
}

.informacoes.ativa {
    display: block;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.informacoes h1 {
    font-size: 80px;
    color: #43403a;
    margin-bottom: 60px;
    font-family: "Benguiat Normal";
    letter-spacing: 2px;
}

@font-face {
    font-family: "Benguiat Normal";
    src: url(../fonts/Benguiat\ Normal.ttf);
}

.informacoes .descricao {
    width: 60%;
    font-size: 24px;
    color: #877b6c;
    line-height: 40px;
    height: 360px;
    padding-right: 15px;
}

.botoes-carrossel {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botoes-carrossel .botao {
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: #ffffff;
}

.botoes-carrossel .botao.selecionado {
    background-color: #C4B9AA;
}

.imagem {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: none;
}

.imagem.ativa {
    display: block;
    animation: mudarImagem 0.7s;
}

@keyframes mudarImagem {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 1;
    }
}

main:after {
    content: "";
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(120deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 90%);
    z-index: -1;
}